.gradient-blinds-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.gradient-blinds-container canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
}
